@{
    ViewBag.Title = "MenuMaster";
}
@section scripts {
    <script src="~/js/menuMaster/mesa.js" asp-append-version="true"></script>
}

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-secondary" id="btnVoltarMesa">Voltar</button>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Mesa</a></li>
                        <li class="breadcrumb-item active">Cadastrar nova mesa</li>
                    </ol>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Mesas</h3>
                    </div>
                    <div class="card-body">
                        <form id="formCadastroMesa" autocomplete="off">
                            @Html.AntiForgeryToken()
                            <div class="row row-Design">
                                <div class="input-group-Design col-md-3" style="margin-top:20px;">
                                    <input type="number" id="numeroMesa" required>
                                    <label for="nome">Numero: <span class="obrigatorio">*</span></label>
                                </div>
                            </div>
                        </form>
                        <div class="col button-group-Design">
                            <button type="button" class="btn btn-primary" onclick="CadastrarMesa()">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>