@{
    ViewBag.Title = "MenuMaster";
}
@section scripts {
    <script src="~/js/menuMaster/item.js" asp-append-version="true"></script>
}

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-secondary" id="btnVoltarItem">Voltar</button>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Cardápio</a></li>
                        <li class="breadcrumb-item active">Cadastrar novo item</li>
                    </ol>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Items</h3>
                    </div>
                    <div class="card-body">
                        <form id="formCadastroItem" autocomplete="off">
                            @Html.AntiForgeryToken()
                            <div class="row row-Design">
                                <div class="input-group-Design col-md-3" style="margin-top:20px;">
                                    <input type="text" id="nomeItem" required>
                                    <label for="nome">Nome: <span class="obrigatorio">*</span></label>
                                </div>
                                <div class="input-group-Design col-md-3" style="margin-top:20px;">
                                    <input type="text" id="valor" class="dinheiro" required>
                                    <label for="numSerie">Preço: <span class="obrigatorio">*</span></label>
                                </div>
                                <div class="input-group-Design col-md-3" style="margin-top:20px;">
                                    <select id="tipoItem" aria-label="item">
                                        <option value="" selected>Selecione...</option>
                                        <option value="Comida">Comida</option>
                                        <option value="Bebida">Bebida</option>
                                    </select>
                                    <label for="item">Tipo de item: <span class="obrigatorio">*</span></label>
                                </div>
                                <div class="input-group-Design col-md-3" style="margin-top:20px;">
                                    <select id="disponibilidade" aria-label="item">
                                        <option value="" selected>Selecione...</option>
                                        <option value="0">Item indisponível</option>
                                        <option value="1">Item disponível</option>
                                    </select>
                                    <label for="item">Disponível: <span class="obrigatorio">*</span></label>
                                </div>
                            </div>
                        </form>
                        <div class="col button-group-Design">
                            <button type="button" class="btn btn-primary" onclick="CadastrarItem()">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>